body
{
    background-color: black;
}
.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* flex-wrap: nowrap; */
    align-items: flex-start;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.caja1
{
    flex: 900px 1 1;
    font-size: 85px;
    color: white;
    background-color: aquamarine;
}
.caja2
{
    flex-basis: 900px;
    flex-grow: 2;
    flex-shrink: 2;
    font-size: 85px;
    color: white;
    background-color: tomato;
}
.caja3
{
    flex-basis: 900px;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 85px;
    color: white;
    background-color: lightblue;
}
.caja4
{
    width: 500px;
    height: 150px;
    font-size: 85px;
    color: white;
    background-color: lightgreen;
}
.caja5
{
    width: 500px;
    height: 150px;
    font-size: 85px;
    color: white;
    background-color: lightpink;
}
.caja6
{
    width: 500px;
    height: 150px;
    font-size: 85px;
    color: white;
    background-color: yellowgreen;
}